<body>
<h1>Search iTunes for your favorite band's information:</h1>

<%= form_tag "/search" do %>
	<%= text_field_tag :query %>
	<%= submit_tag "SEARCH iTUNES" %>  
<% end %>

<% if @results %>
	<% @results.each do |result| %>
	<p><%=  result["trackName"] %></p>
	<% end %>
<% end %>
</body>